{{!-- Main Handlebar Page- reader will either need to log in or sign up. --}}
{{!-- This handlebars template is responsible for rendering the content the user sees on every page. --}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Book Buzz</title>
    </head>
    <body>
        <header class="box custom-header is-flex-column">
            <section id="navbar-section" class="mb-4 flex-item">

                {{!-- Navigation --}}
                <nav class="navbar-item is-arrowless custom-navbar flex-item justify-center">
                    <a href="/" id="home-link" class="pl-1 pr-4 shrinking-text">Home</a>
                    <a href="/dashboard" id="dashboard-link" class="less-padding shrinking-text">Dashboard</a>
                    {{#if loggedInUser}}
                        <a id="login-link" href="/api/users/logout" class="custom-login-logout-button less-padding shrinking-text">Logout</a>
                    {{else}}
                        <a id="login-link" href="/login" class="custom-login-logout-button less-padding shrinking-text">Login</a>
                    {{/if}}
                </nav>
            </section>

            {{!-- Logo Image --}}
            <section class="center-image" class="image is-square flex-item">
                <img src="/images/Book_Buzz_Logo.png" alt="Image of a book with bees flying out" class="has-ratio" width="350" height="350">
            </section>
            <section id="welcome-bar" class="medium-text is-flex-grow-1">
                {{#if loggedInUser}}
                    <p id="welcome-line" class="mt-0 pt-0 welcome-text">Welcome, <b>{{{loggedInUser.username}}}</b></p>
                {{/if}}
                
            </section>
            {{#if invalidRedirection}}
                <section id="redirection-error" class="has-text-centered mt-3 has-background-danger-dark box has-text-light">
                    <p id="redirection-error-message" class="larger-text">{{invalidRedirection}}</p>
                </section>        
            {{/if}}
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>