*{
    box-sizing: border-box;
}

/* Imported font family */

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Montserrat&family=Playfair+Display&display=swap');
* {
    font-family: 'Gentium Book Plus', serif;
}

/* Navigation */

.navbar-item {
    font-size: 1.3rem;
}

.custom-navbar a {
    margin-right: 2%;
}

.custom-login-logout-button {
    text-align: right;
}

#welcome-line {
    padding: 10px;
    font-size: 1.25rem;
    color: darkgreen;
}
/* Header with Logo */
.custom-header {
    background-color: rgb(250, 232, 210);
}

.center-image {
    text-align: right;
}

.center-image img {
    padding: 0px 40px 40px;
}

.custom-top-left-right-border-radius {
    border-radius: 5px 5px 0 0;
}

.custom-padding-4 {
    padding: 4px;
}

.custom-margin-top-5 {
    margin-top: 5%;
}

/* Book List with information about the book */
.custom-books-section {
    margin-top: 5%;
    margin-bottom: 5%;

}


.book-lists {
    margin: 3%;
    line-height: 1.5;
}
.book-lists li {
    list-style: none;
}

.book-lists .custom-left-column li {
    font-weight: bolder;
}

.book-description-box {
    border-top: solid black 1px;
    margin: 3%;
    padding-top: 3%;
    line-height: 1.5;
    font-size: 1.1rem;
}

.book-images {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Form to add, update and delete reviews */
.custom-add-review-form {
    margin: 4em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 6px -6px #cccccc; 
}

.custom-create-new-review-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.large-x-margin{

    margin-left: 4em;
    margin-right: 4em;
}

.larger-text {

    font-size: 1.25em;
}
 
.single-book-lineheight h2 {
    line-height: 2;
}

.single-book-lineheight p {
    line-height: 1.5;
}

.single-book-lineheight h2 strong {
    margin-right: 2px;
}

.single-book-lineheight p strong {
    margin-right: 2px;
}

.custom-mt-10 {
    margin-top: 10px;
}

.custom-m-30 {
    margin: 30px;
}

/* This class is for the section holding the button that brings up the Create Review form. */
.custom-add-review-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.custom-single-book-box {
    margin: 2%;
    padding-bottom: 5%;
    box-shadow: 0px 10px 6px -6px #cccccc; 
}

.custom-review-box {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.custom-review-name-date {
    margin-top: 20px;
    margin-bottom: 5px;
    border-top: solid 1px black;
}

.custom-review-title {
    margin-bottom: 10px;
}

.custom-book-reviews-section {
    margin-bottom: 25px;
}

.book-image-redirect {
    cursor: pointer;
}

.custom-columns {
    margin: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.custom-left-column {
    width: 12%;
}

.custom-reviews-box {
    border: ridge .5px black;
}

.custom-review-createdOn {
    border-bottom: double 1px black;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.custom-user-review-title {
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* This class is for the section holding the buttons to edit and delete reviews.  These are
the buttons that aren't on the dashboard. */
.custom-edit-delete-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.custom-user-edit-button {
    background-color: rgb(137, 253, 253);
    color: white;
}

.custom-user-delete-button {
    background-color: rgb(255, 160, 160);
    color: white;
}

.display-below-576 {
    display: none;
}


/* For some reason, Bulma's flex classes didn't seem to be working the way I wanted,
so I defined my own custom class. */
.is-flex-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.flex-item {
    width: 100%;
    text-align: center;
}

html{

    min-width: 150px;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.justify-center{

    justify-content: center;
}

.welcome-text {

    font-size: 0.5em;
}

@media screen and (max-width: 1023px){

    .custom-container{
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    .margin-container {
        margin: 0 0.5em
    }
}

@media screen and (max-width: 576px) {

    /* to make the title, author, and etc. stick to their description */
    .custom-left-column {
        display: none;
    }

    .display-below-576 {
        display: inline;
        font-weight: bolder;
    }
}

@media screen and (max-width: 400px) {

    .book-images {

        flex-direction: column;
        width: 46%;
    }

    .add-review-button-homepage {
        
        margin-top: 1.25em;
    }

    #welcome-line {

        font-size: 4vw;
    }
}

@media screen and (max-width: 375px) {

    .shrinking-text {
        font-size: 5vw;
    }

    .less-padding{

        padding-left: 0.25em;
        padding-right: 0.25em;
    }

    .resizing-button{
        padding-left: 0.25em;
        padding-right: 0.25em;
        font-size: 5vw;
    }

    .flex-column-mobile {
        flex-direction: column;
        text-align: left;
    }

    .no-left-padding-mobile{
        padding-left: 0;
    }
    
}